<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include seo.html %}
<link rel="icon" href="{{ '/images/logo.png' | relative_url }}" type="image/png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
{% for stylesheet in page.extra_css %}
  {% if stylesheet contains '://' %}
<link rel="stylesheet" href="{{ stylesheet }}" crossorigin="">
  {% else %}
<link rel="stylesheet" href="{{ stylesheet | relative_url }}">
  {% endif %}
{% endfor %}
